* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background-color: hsl(210deg, 33%, 87%);
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

.article {
  background-color: #fff;
  width: 80%;
  margin: 10vh auto 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.article-img {
  height: 250px;
}
.article__text {
  padding: 35px;
}
.article__text-title {
  color: hsl(217deg, 19%, 35%);
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 700;
}
.article__text-subtitle {
  color: hsl(214deg, 17%, 51%);
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  line-height: 1.9;
  margin-top: 15px;
}
.article .author {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "img name name name name icon";
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 0 35px 20px;
}
.article .author__img {
  grid-area: img;
  display: block;
  width: 50px;
  border-radius: 50%;
}
.article .author__text {
  grid-area: name;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article .author__text-name {
  color: hsl(217deg, 19%, 35%);
  font-weight: 700;
}
.article .author__text-date {
  color: hsl(214deg, 17%, 51%);
}
.article .author__btn {
  grid-area: icon;
  background-color: hsl(210deg, 39%, 93%);
  width: 40px;
  height: 40px;
  margin: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.share {
  visibility: hidden;
  background-color: hsl(217deg, 19%, 35%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  position: relative;
  position: absolute;
  bottom: 80px;
  right: 10px;
}
.share.active {
  visibility: visible;
}
.share::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 77%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(217deg, 19%, 35%) transparent transparent transparent;
}
.share__text {
  color: hsl(214deg, 17%, 51%);
  vertical-align: middle;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.share img {
  display: block;
  transform: scale(0.8);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media only screen and (min-width: 430px) {
  .article {
    width: 70%;
  }
  .article-img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 600px) {
  .article {
    width: 55%;
  }
  .article-img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 1200px) {
  .article {
    height: 400px;
    display: flex;
    flex-direction: row;
  }
  .article-img {
    height: 100%;
    width: 50%;
  }
  .share {
    bottom: 85px;
    right: 5px;
  }
  .share::after {
    left: 75%;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */